@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mako&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #000000;
}
.democlass {
  font-family: "Just Me Again Down Here", cursive;
}
li {
  list-style: none;
}
a {
  color: white;
  text-decoration: none !important;
}
.main {
  width: 100%;
}

/*-----------------------header--------------------------*/
header {
  width: 100%;
  background: linear-gradient(108.42deg, #000000 -4.75%, #304057 144.02%),
    linear-gradient(0deg, #ffffff, #ffffff);
}

/*-----------------------nav--------------------------*/
.navbarScreen {
  padding: 30px 0;
}
.navbarScreen .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbarScreen .logo {
  width: 100px;
  height: auto;
}
.navbarScreen .link-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.navbarScreen .link-list li:not(:last-child) {
  margin-right: 50px;
}
.navbarScreen .link-list li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  transition: 0.3s;
}
.navbarScreen .link-list li a:hover {
  color: #f0a818;
}
.navbarScreen .login,
.offcanvas-body .moNavBtns .login {
  color: #ffffff;
  font-weight: bold;
  margin-right: 30px;
  transition: 0.3s;
}
.navbarScreen .login:hover {
  color: #f0a818;
}
.navbarScreen .start-button,
.offcanvas-body .moNavBtns .start-button {
  padding: 8px 20px;
  background: #f0a818;
  border-radius: 20px;
  font-weight: 700;
  color: #000000;
  border: none;
  cursor: pointer;
}

.offcanvas.offcanvas-start {
  border: none !important;
  width: 300px !important;
  background: linear-gradient(104.75deg, #000000 -5.01%, #22324a 134.12%);
  color: white;
}

.offcanvas-header {
  padding: 20px 30px !important;
}

.offcanvas-body {
  padding: 20px 30px !important;
}

.offcanvas-body ul li {
  margin-bottom: 10px;
}

.offcanvas-body ul li a {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.offcanvas-body .moNavBtns {
  margin-top: 80px;
}

.btn-close {
  background-color: white !important;
  border-radius: 50% !important;
}

.mobileNav .bars {
  color: #f0a818;
  font-size: 30px;
}

/*-----------------------section1--------------------------*/
.section1 {
  background-color: transparent;
  background: url("./assets/Ai.png") no-repeat right top;
  color: white;
  padding: 100px 0px;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
}

.section1 .section1-left {
  text-align: left;
  padding-top: 20px;
}

.section1 .section1-left h1 {
  font-size: 70px;
  font-weight: 700;
  padding-bottom: 10px;
  line-height: 80px;
  padding-bottom: 10px;
}

.section1 .section1-left p {
  font-size: 28px;
  font-weight: 300;
  line-height: 40px;
  padding-bottom: 70px;
}

.section1 .section1-left h2 {
  position: relative;
  display: inline-block;
  font-size: 50px;
  font-family: "Just Me Again Down Here", cursive;
}
.section1 .section1-left .underline-yellow {
  width: 18%;
  background-color: #f0a818;
  height: 5px;
  border: none;
  opacity: 1;
  margin: 0 0 0 25%;
}

.section1-left h2::after {
  content: url("./assets/ArrowDown.png");
  position: absolute;
  width: 20%;
  bottom: -150px;
  left: 20%;
}

.section1 .section1-right img {
  max-width: 100%;
  height: auto;
}

.section1 .section1-right h3 {
  font-size: 24px;
  padding-top: 20px;
}
.section1 .section1-right .btn-yes {
  border-radius: 5.232px;
  background: #cf0175;
  box-shadow: 0px 2.9899px 2.9899px 0px rgba(0, 0, 0, 0.25);
  /* background-color: #cf0175; */
  color: #ffffff;
}
.section1 .section1-right .btn-no {
  border-radius: 5.232px;
  border: 1.495px solid #ab698e;
  color: #ab698e;
  background: linear-gradient(0deg, #1e2836 0%, #1e2836 100%);
}
.section1 .section1-right button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.section1 .section1-right button a{
  color: white;
} 

/*-----------------------section2&3--------------------------*/

.section3 {
  background-color: #135151;
  color: white;
}

.section3 .sec3left2,
.section2 .sec2left1 {
  font-size: 200px;
  font-weight: 700;
  opacity: 0.2;
}

.section3 .mainLeftContent,
.section2 .mainLeftContent {
  font-weight: 700;
  font-size: 40px;
  margin-top: 90px;
  line-height: 40px;
}

.section3 .mainLeftContent span span,
.section2 .mainLeftContent span span {
  color: #f0a818;
}

.section3 .mainRight h2,
.section2 .mainRight h2 {
  font-size: 50px;
  font-weight: 700;
}

.section3 .mainRight p,
.section2 .mainRight p {
  font-size: 28px;
}

.section3 .mainRight a {
  display: inline-block;
  color: #f0a818;
  border: 1px solid #f0a818;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.section3 .mainRight a:hover {
  background-color: #f0a818;
  color: white;
}

.section2 {
  background-color: white;
  color: black;
}

.section2 .mainRight a {
  display: inline-block;
  color: black;
  border: 1px solid black;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.section2 .mainRight a:hover {
  background-color: black;
  color: white;
}

/*--------------section4---------------*/

.section4 .mainTop h2 {
  font-size: 40px;
  font-weight: 700;
  color: black;
}

.section4 .mainTop h2 span {
  font-weight: normal;
}

.section4 .mainBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.section4 .mainBottom .companyLogos {
  padding: 0 18px;
}

.section4 .mainBottom img {
  margin-top: 20px;
  max-width: 100%;
  cursor: pointer;
}

/*---------------section 5----------------*/
.section5 .container .row {
  border-radius: 10px;
  overflow: hidden;
}

.section5 .section5-left h4 {
  font-size: 1.4rem;
  font-weight: 600;
}
.section5 .section5-left span.quotes {
  font-family: "Mako", sans-serif;
  font-size: 180px;
  color: #f0a818;
}

.section5 .section5-left-men {
  background: url("./assets/men\ img.png");
  background-position: center;
  min-height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #bfbfbf;
}
.section5 .section5-left-women {
  background: url("./assets/women.png");
  background-position: center;
  min-height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #bfbfbf;
}
.section5 .section5-left-men .boxofimg {
  width: 350px;
  position: relative;
  top: 70%;
  left: 35%;
}
.section5 .section5-left .boxofimg .col-3{
  margin-top: -65px;
}
.section5 .section5-left-women .boxofimg {
  width: 350px;
  position: relative;
  top: 70%;
  left: 10%;
}
.section5 .section5-left .row img {
  width: 120px;
  object-fit: cover;
}
.section5 .section5-right {
  background-color: #f3f3f3;
}
.section5 .section5-right h4 {
  font-weight: 700;
}
.section5 .section5-right h2 {
  padding-top: 20px;
  font-size: 40px;
  font-weight: 700;
}
.section5 .section5-right p {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}
.section5 .hrlineheader {
  width: 56%;
  background-color: #f0a818;
  height: 4px;
  border: none;
  opacity: 1;
  margin: 0 0;
}
.section5 .section5-right a {
  width: fit-content;
  display: inline-block;
  color: black;
  border: 1px solid black;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  border-radius: 10px;
  transition: 0.3s;
}

.section5 .section5-right a:hover {
  background-color: black;
  color: white;
}

.section5 .bullet {
  font-size: 25px;
  margin-right: 8px;
}
.section5 .simpleheader {
  font-size: 48px;
  font-weight: 300;
}
.section5 .simpleheader span {
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 3px solid #f0a818;
}
.section5 .section5-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
}

/*---------------footer----------------*/

footer {
  padding: 100px 0 40px 0;
  background: linear-gradient(104.75deg, #000000 -5.01%, #22324a 134.12%);
  color: white;
  border-bottom: 10px solid #f0a818;
}

footer .topFooter .topLeft h2 {
  font-size: 60px;
  font-weight: 600;
}

footer .topFooter .topLeft p {
  margin-top: 20px;
  font-size: 40px;
  line-height: 50px;
}

footer .topFooter .topLeft a {
  display: inline-block;
  color: black;
  border: 1px solid #f0a818;
  background-color: #f0a818;
  padding: 10px 30px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

footer .topFooter .topRight .arrows img {
  width: 24%;
}

footer .bottomFooter h2 {
  font-size: 20px;
}

footer .bottomFooter ul li {
  margin-top: 5px;
}

footer .bottomFooter ul li a,
footer .footerRights ul li a {
  color: #c4c4c4;
  transition: 0.3s;
}

footer .bottomFooter ul li a:hover,
footer .footerRights ul li a:hover {
  color: #f0a818;
}

footer .bottomFooter .socialIcons,
footer .bottomFooter .ulWithoutTitle {
  margin-top: 32px;
}

footer .bottomFooter .socialIcons li {
  margin-right: 20px;
}

footer .footerRights p {
  color: #c4c4c4;
}

footer .footerRights ul li:not(:last-child) {
  margin-right: 40px;
}
/* media queries  */

@media only screen and (max-width: 380px) {
  .section5 .section5-left .col-9 {
    margin-top: -140px;
  }
  .section5 .section5-left .boxofimg div {
    height: fit-content;
  }
  .section5 .section5-left .boxofimg {
    flex-direction: column !important;
    top: 60% !important;
    left: 5%;
  }
}
@media only screen and (max-width: 424px) {
  .section2 .mainLeftContent,
  .section3 .mainLeftContent {
    font-size: 30px;
  }

  .section3 .mainRight h2,
  .section2 .mainRight h2 {
    font-size: 40px;
  }

  .section3 .mainRight p,
  .section2 .mainRight p {
    font-size: 18px;
  }

  .section4 .mainTop h2 {
    font-size: 35px;
  }

  .section4 .mainBottom .companyLogos {
    padding: 0 10px;
  }

  footer .topFooter .topLeft h2 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 575px) {
  footer .bottomFooter .socialIcons,
  footer .bottomFooter .ulWithoutTitle {
    margin-top: 0;
  }

  footer .bottomFooter h2,
  footer .bottomFooter li {
    text-align: center;
  }

  footer .bottomFooter .socialIcons {
    justify-content: center;
  }

  footer .topFooter .topLeft p {
    font-size: 23px;
    line-height: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .section1 {
    padding: 50px 0px 90px 0px;
  }
  .section1 .section1-left {
    text-align: center;
  }
  .section1 .section1-left h1 {
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 5px;
  }
  .section1-left h2::after {
    bottom: -140px;
  }
  .section1 .section1-left h2 {
    font-size: 40px;
  }
  .section1 .section1-left p {
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 30px;
  }
  .section1 .section1-left .underline-yellow{
    margin: 0 auto;
  }
  .section1 .section1-right img {
    max-width: 100%;
    height: auto;
  }
  .section1 h2 {
    font-size: 20px;
  }

  .section5 .section5-right {
    text-align: center;
  }
  .section5 .hrlineheader {
    margin: 0 auto;
  }
  .section5 .section5-right a {
    margin: 0 auto;
  }
  .section5 .section5-right {
    padding: 80px 30px;
  }
  .section5 .container .row {
    border-radius: 10px;
    overflow: hidden;
  }

  footer .topFooter .topRight .arrows img {
    width: 24% !important;
  }
}

@media only screen and (max-width: 992px) {
  footer .bottomFooter .socialIcons {
    margin-top: 0;
  }

  footer .topFooter .topRight .arrows img {
    width: 14%;
  }

  .navbarScreen .links-container,
  .navbarScreen .navBtns {
    display: none !important;
  }
}

@media only screen and (min-width: 992px) {
  .section4 .mainBottom {
    justify-content: start;
  }

  .section4 .mainBottom .companyLogos {
    width: unset;
  }
}

@media only screen and (max-width: 1200px) {
  .section5 .section5-left .boxofimg {
    width: 350px;
    position: relative;
    top: 70%;
    left: 5%;
  }
}
@media only screen and (max-width: 1399px) {
  .navbarScreen .link-list li:not(:last-child) {
    margin-right: 20px;
  }

  .navbarScreen .login {
    margin-right: 10px;
  }
}
